@import "../../../styles.scss";
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

.arrow-section {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.reference-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
}

.reference-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.pd-r{
    padding-right: 20px;
    cursor: pointer;
}
.pd-l{
    padding-left: 20px;
    cursor: pointer;
}