@import "../../../styles.scss";

section {
  font-family: "Poppins";
  padding-top: 30px;
  position: relative;
  margin-top: 121px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/../assets/img/hero-background2.png");
    background-repeat: no-repeat;
    background-position: 100% 90px;
    background-size: cover;
    z-index: 1; 
    @media (min-width: 1950px) {
      background-size: 100vw 185%; 
      background-position: center 70px; 
    }
    @media (max-width: 1750px) {
      background-position: center 60px;
    }
    @media (max-width: 1500px) {
      background-position: center 90px;
    }
    @media (max-width: 975px) {
      background-position: center 115px;
    }
    @media (max-width: 752px) {
      // background-position: 0 165px;
      background-position: 0 150px;
    }
    @media (max-width: 515px) {
      // background-position: 0 80px;
      background-position: 0 75px;
    }
    @media (max-width: 370px) {
      // background-position: 0 30px;
      background-position: 0 50px;
    }
  }
}

.img-container {
  position: relative; 
  display: inline-block; 
  z-index: 0;

  .landingpage-img {
    position: relative; 
    z-index: 2; 
  }

  img[src*="shadow.png"] {
    position: absolute;
    z-index: 1; 
    width: 125%; 
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px); 
    opacity: 0.8; 
    @media (max-width: 752px) {
      width: 100%;
    }
  }
}

.first-sektion {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 60px;
  margin-top: 5px;
  @include contentmax();
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins";
  padding-right: 100px;
  padding-bottom: 230px;
  line-height: 80px;
  position: relative;
  z-index: 2;
}

.Iam {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-size: 64px;
  font-weight: 400;
  display: flex;
  margin-bottom: -150px;
}
.Iam-ge {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-size: 42px;
  font-weight: 400;
  display: flex;
  margin-bottom: -150px;
}
.job-name {
  > .job {
    font-size: 77px;
    color: #9747ff;
  }
}
.job-name {
  > .job-ge {
    font-size: 73px;
    color: #9747ff;
  }
}

.center-button {
  padding-top: 10px;
}

.styled-line {
  @include styled-line(150px);
  position: absolute;
  left: 0;
  z-index: 1;

  @media (min-width: 1920px) {
    left: calc((1920px - 100vw));
    width: calc(150px + (100vw - 1920px));
    max-width: none;
  }
}

.first-kontakt {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 400;
  font-size: 23px;
  color: white;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  @include contentmax();
  > img {
    z-index: 2;
  }
}

.scroll-down {
  display: flex;
  justify-content: flex-end;
  margin-top: -80px;
  padding-right: 100px;
  text-align: center;
  transform: rotate(360deg);
  position: relative; 
  z-index: 10 !important;
  > img {
    position: relative;
    z-index: 10 !important;
  }
}

.mail {
  display: inline-block;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    color: #9747ff;
    transform: scale(1.04); 
  }
}

.left-sektion {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding-left: 180px;
  > p {
    padding-bottom: 10px;
  }
}

@media (max-width: 1750px) {
  .main-name {
    font-size: 60px;
  }
  .Iam {
    font-size: 50px;
    margin-bottom: -120px;
  }
  .Iam-ge {
    margin-bottom: -120px;
    font-size: 35px;
  }
  .job-name {
    > .job {
      font-size: 51px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 49px;
    }
  }
  .landingpage-img {
    height: 565px;
  }
  .text-container {
    line-height: 1.1;
  }
}

@media (max-width: 1550px) {
  section {
    padding-top: 0;
  }
}

@media (max-width: 1450px) {
  section {
    padding-top: 10px;
  }
  .landingpage-img {
    height: 525px;
  }
  .text-container {
    padding-bottom: 130px;
  }
}

@media (max-width: 1255px) {
  .main-name {
    font-size: 60px;
  }
  .job-name {
    > .job {
      font-size: 51px;
    }
  }
  .Iam {
    font-size: 47px;
    margin-bottom: -120px;
  }
  .landingpage-img {
    height: 485px;
  }
}

@media (max-width: 1230px) {
  .main-name {
    font-size: 50px;
  }
  // .landingpage-img {
  //   height: 520px;
  // }
  .job-name {
    > .job {
      font-size: 43px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 41px;
    }
  }
  .Iam {
    margin-bottom: -109px;
  }
  .Iam-ge {
    margin-bottom: -102px;
    font-size: 30px;
  }
  .first-kontakt {
    margin-top: 20px;
  }
}

@media (max-width: 1162px) {
  section {
    // background-position: 0 80px, -85px -40px;
    padding-top: 20px;
  }
  .landingpage-img {
    height: 415px;
  }

  .Iam-ge {
    font-size: 30px;
    margin-bottom: -103px;
  }
  .text-container {
    padding-right: 75px;
  }
  .first-sektion {
    padding-left: 25px;
  }
  .first-kontakt {
    margin-top: 60px;
  }
}

@media (max-width: 1100px) {
  .landingpage-img {
    height: 390px;
  }
}
@media (max-width: 999px) {
  .text-container {
    padding-right: 50px;
  }
  .first-sektion {
    padding-left: 0;
  }
  .first-kontakt p {
    display: none;
  }
  .img-container {
    padding-top: 20px;
  }
  .landingpage-img {
    height: 380px;
  }
}

@media (max-width: 930px) {
  .main-name {
    font-size: 36px;
  }
  .job-name {
    > .job {
      font-size: 31px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 30px;
    }
  }
  .Iam {
    font-size: 32px;
    margin-bottom: -72px;
  }
  .Iam-ge {
    font-size: 24px;
    margin-bottom: -75px;
  }
}
@media (max-width: 875px) {
  section {
    padding-top: 20px;
  }
  .landingpage-img {
    height: 340px;
  }
}
@media (max-width: 752px) {
  .first-sektion {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-top: 50px;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .landingpage-img {
    height: auto;
    width: 500px;
  }
  .text-container {
    padding-bottom: 230px;
  }
  .center-button {
    padding-top: 30px;
  }
  .left-sektion {
    margin-top: -25px;
  }
  .scroll-down img {
    display: none;
  }
  .job-name {
    padding-left: 75px;
  }
  .img-container {
    margin-top: -65px;
  }
  .first-kontakt {
    margin-top: -100px;
  }
}

@media (max-width: 515px) {
  .landingpage-img {
    width: 400px;
  }
  .left-sektion {
    margin-top: -25px;
  }
  .text-container {
    margin-top: 0;
  }
}

@media (max-width: 476px) {
  .main-name {
    font-size: 30px;
  }
  .Iam {
    margin-bottom: -68px;
  }
  .Iam-ge {
    font-size: 20px;
    margin-bottom: -63px;
  }
  .job-name {
    .job {
      font-size: 26px;
    }
  }
  .job-name {
    .job-ge {
      font-size: 24px;
    }
  }
}

@media (max-width: 420px) {
  .Iam {
    margin-bottom: -63px;
  }
  .main-name {
    font-size: 28px;
  }
  .job-name {
    .job {
      font-size: 24px;
    }
  }
  .job-name {
    .job-ge {
      font-size: 23px;
    }
  }
}

@media (max-width: 416px) {
  .text-container {
    padding-right: 40px;
  }
  .landingpage-img {
    width: 350px;
  }
  .main-name {
    font-size: 25px;
  }
  .job-name {
    .job {
      font-size: 22px;
    }
  }
  .job-name {
    .job-ge {
      font-size: 20px;
    }
  }
  .Iam {
    font-size: 23px;
    margin-bottom: -48px;
  }
  .Iam-ge {
    font-size: 18px;
    margin-bottom: -55px;
  }
  .styled-line {
    width: 50px;
  }
  .left-sektion {
    padding-left: 50px;
  }
  .first-kontakt {
    margin-top: -160px;
  }
}

@media (max-width: 370px) {
  section {
    background-position: 0px 75px, center 0px;
    background-size: cover, 32vh;
  }
  .main-name {
    font-size: 19px;
  }
  .job-name {
    > .job {
      font-size: 16px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 16px;
    }
  }
  .Iam {
    font-size: 20px;
    margin-bottom: -43px;
  }
  .Iam-ge {
    font-size: 17px;
    margin-bottom: -48px;
  }
  .center-button {
    padding-left: 45px;
  }
  .text-container {
    line-height: 1.2;
  }
  .landingpage-img {
    width: 280px;
  }
  .first-kontakt {
    margin-top: -130px;
  }
}
