@import "../../../styles.scss";

section {
  font-family: "Poppins";
  // height: 100vh;
  // max-height: 100vh;
  background-color: #141d2f;
  background-image: url("/../assets/img/hero-background2.png"),
    url("/../assets/img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 130px, -70px 10px;
  background-size: cover, 50%;
  padding-top: 10px;
  @include contentmax();
}
.first-sektion {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 60px;
  margin-top: 5px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins";
  padding-right: 100px;
  padding-bottom: 100px;
  line-height: 80px;
}

.Iam {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-size: 64px;
  font-weight: 400;
  display: flex;
  margin-bottom: -150px;
}
.Iam-ge {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-size: 42px;
  font-weight: 400;
  display: flex;
  margin-bottom: -150px;
}
.job-name {
  > .job {
    font-size: 77px;
    color: #9747ff;
  }
}
.job-name {
  > .job-ge {
    font-size: 73px;
    color: #9747ff;
  }
}

.center-button {
  // display: flex;
  padding-top: 10px;
}

.styled-line {
  @include styled-line(150px);
  position: absolute;
  left: 0;
  z-index: 1;

  @media (min-width: 1920px) {
    left: calc((1920px - 100vw));
    width: calc(150px + (100vw - 1920px));
    max-width: none;
  }
}

.first-kontakt {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 400;
  font-size: 23px;
  color: white;
  margin-top: 50px;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.scroll-down {
  display: flex;
  justify-content: flex-end;
  margin-top: -80px;
  padding-right: 100px;
  text-align: center;
  transform: rotate(360deg);
}

.left-sektion {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding-left: 180px;
  > p {
    padding-bottom: 10px;
  }
}

@media (min-width: 1855px) {
  section {
    background-position: 0 110px, -70px -10px;
    // background-position: 0 75px, -48px 10px;
  }
}

@media (max-width: 1650px) {
  section {
    background-position: 0 85px, -80px -10px;
  }
  .main-name {
    font-size: 60px;
  }
  .Iam {
    font-size: 50px;
    margin-bottom: -120px;
  }
  .Iam-ge {
    margin-bottom: -120px;
    font-size: 35px;
  }
  .job-name {
    > .job {
      font-size: 51px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 49px;
    }
  }
  .landingpage-img {
    // height: 600px;
    height: 565px;
  }
  .text-container {
    line-height: 1.1;
  }
}
@media (max-width: 1550px) {
  section {
    // background-position: 0 130px, -40px -10px
    background-position: 0 115px, -40px -10px;
  }
}
@media (max-width: 1450px) {
  section {
    background-position: 0 130px, -20px 10px;
  }
}

@media (max-width: 1360px) {
  .landingpage-img {
    height: 525px;
  }
}
@media (max-width: 1255px) {
  // section {
  //   background-position: 0 140px, -50px -50px;
  //   background-size: cover, 60%;
  // }
  .main-name {
    font-size: 60px;
  }
  .job-name {
    > .job {
      font-size: 51px;
    }
  }
  .Iam {
    font-size: 47px;
    margin-bottom: -120px;
  }
  .landingpage-img {
    height: 485px;
  }
}

@media (max-width: 1230px) {
  .main-name {
    font-size: 50px;
  }
  // .landingpage-img {
  //   height: 520px;
  // }
  .job-name {
    > .job {
      font-size: 43px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 41px;
    }
  }
  .Iam {
    margin-bottom: -109px;
  }
  .Iam-ge {
    margin-bottom: -102px;
    font-size: 30px;
  }
  .first-kontakt {
    margin-top: 20px;
  }
}

@media (max-width: 1162px) {
  section {
    // background-position: 0 80px, -85px -40px;
    background-position: 0px 80px, -50px -15px;
  }
  .landingpage-img {
    height: 415px;
  }

  .Iam-ge {
    font-size: 30px;
    margin-bottom: -103px;
  }
  .text-container {
    padding-right: 75px;
  }
  .first-sektion {
    padding-left: 25px;
  }
  .first-kontakt {
    margin-top: 60px;
  }
}

@media (max-width: 1100px) {
  .landingpage-img {
    height: 390px;
  }
}
@media (max-width: 999px) {
  section {
    // background-position: 0 155px, -75px 15px;
    background-position: 0 155px, -50px 35px;
  }
  .text-container {
    padding-right: 50px;
  }
  .first-sektion {
    padding-left: 0;
  }
  .first-kontakt p {
    display: none;
  }
  .img-container {
    padding-top: 50px;
  }
  .landingpage-img {
    height: 380px;
  }
}

@media (max-width: 930px) {
  section {
    // height:60vh;
    // background-position: 0 170px, -85px 40px;
  }
  // .first-sektion {
  //   padding-top: 40px;

  // }
  // .landingpage-img {
  //   height: 400px;
  // }
  .main-name {
    font-size: 36px;
  }
  .job-name {
    > .job {
      font-size: 31px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 30px;
    }
  }
  .Iam {
    font-size: 32px;
    margin-bottom: -72px;
  }
  .Iam-ge {
    font-size: 24px;
    margin-bottom: -75px;
  }
}
@media (max-width: 875px) {
  section {
    // background-position: 0 170px, -70px 40px;
  }
  .landingpage-img {
    height: 340px;
  }
}
@media (max-width: 752px) {
  section {
    // background-position: 0 80px, center -20px;
    // background-size: cover, 60vh;
    background-position: 0px 93px, center 0px;
    background-size: cover, 50vh;
  }
  .first-sektion {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 65px;
    padding-top: 50px;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-button {
    padding-top: 30px;
  }
  .left-sektion {
    margin-top: -150px;
  }
  .scroll-down img {
    display: none;
  }
  .job-name {
    padding-left: 75px;
  }
  .img-container {
    margin-top: -65px;
  }
}

@media (max-width: 550px) {
  section {
    // background-position: 0 50px, center -20px;
  }
  .left-sektion {
    gap: 25px;
    padding-left: 75px;
  }
  .styled-line {
    width: 50px;
  }
}

@media (max-width: 476px) {
  .main-name {
    font-size: 30px;
  }
  .Iam {
    margin-bottom: -68px;
  }
  .Iam-ge {
    font-size: 20px;
    margin-bottom: -63px;
  }
  .job-name {
    .job {
      font-size: 26px;
    }
  }
  .job-name {
    .job-ge {
      font-size: 24px;
    }
  }
}

@media (max-width: 420px) {
  .Iam {
    margin-bottom: -63px;
  }
  .main-name {
    font-size: 28px;
  }
  .job-name {
    .job {
      font-size: 24px;
    }
  }
  .job-name {
    .job-ge {
      font-size: 23px;
    }
  }
}

@media (max-width: 400px) {
  section {
    // background-position: 0 50px, center 10px;
    // background-size: cover, 55vh;
    background-position: 0px 85px, center 0px;
    background-size: cover, 35vh;
  }
  .text-container {
    padding-right: 40px;
  }
  .landingpage-img {
    height: 350px;
  }
  .main-name {
    font-size: 25px;
  }
  .job-name {
    .job {
      font-size: 22px;
    }
  }
  .job-name {
    .job-ge {
      font-size: 20px;
    }
  }
  .Iam {
    font-size: 23px;
    margin-bottom: -48px;
  }
  .Iam-ge {
    font-size: 18px;
    margin-bottom: -55px;
  }
}

@media (max-width: 370px) {
  section {
    background-position: 0px 75px, center 0px;
    background-size: cover, 32vh;
  }
  .main-name {
    font-size: 19px;
  }
  .job-name {
    > .job {
      font-size: 16px;
    }
  }
  .job-name {
    > .job-ge {
      font-size: 16px;
    }
  }
  .Iam {
    font-size: 20px;
    margin-bottom: -43px;
  }
  .Iam-ge {
    font-size: 17px;
    margin-bottom: -48px;
  }
  .center-button {
    padding-left: 45px;
  }
  .text-container {
    line-height: 1.2;
  }
  .landingpage-img {
    height: 310px;
  }
}
