section {
    height: auto;
}
a {
    color: #70E61C;
}
h1 {
    margin: 0;
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
  }
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h3, h4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .padding-100 {
    padding-left: 100px;
    padding-right: 100px;
  }