@import "../../styles.scss";
section {
  @include contentmax();
}

h1,
h2 {
  display: flex;
  justify-content: center;
  margin: 0;
}

p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.impressum {
 padding-top: 30px;
}

.padding-100 {
  padding-left: 100px;
  padding-right: 100px;
}

@media(max-width: 850px) {
  .padding-100 {
    padding-left: 25px;
    padding-right: 25px;
  }
}