@import "../../styles.scss";
section {
    height: 77.5vh;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  margin: 0;
}
p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}
.impressum {
 padding-top: 30px;
}