<section>
  <div class="contact-line">
    <hr class="styled-line" />
    <h1>Contact</h1>
  </div>
  <div class="my-contact">
    <div class="contact-text">
      <h2>Got a problem to solve?</h2>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
      <div class="contact-input">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input [(ngModel)]="contactData.name" name="name" class="styled-input" type="text" id="name" placeholder="Your name" required/>

        <input [(ngModel)]="contactData.email" name="email" class="styled-input" type="text" id="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
        <div class="input-wrapper">
          <input [(ngModel)]="contactData.message" name="message" class="styled-input pd-bot" type="text" id="email" placeholder="Your message" required/>
          <span class="input-icon">
            <img src="./assets/img/input-icon.png" alt="Input-Icon" />
          </span>
        </div>
      <div class="privacy-policy">
        <div class="privacy-line">
            <div class="privacy-text">
          <img (click)="clickBox()" [src]="clickBoxSrc"alt="Click-Box" />
          <p>
            I've read the <span class="highlight">privacy policy</span> and agree to the processing of my data as outlined.
          </p>
        </div>
          <button [disabled]="!isBoxClicked" >Send message &#58;&#41;</button>
        </div>
        <div class="arrow-up">
        <a href="#landing-page">  
        <img 
            (mouseover)="hoverArrow('up', true)"
            (mouseout)="hoverArrow('up', false)" 
            [src]="upArrowSrc"alt="Up-Arrow">
          </a>
        </div>
      </div>
    </form>
    </div>
  </div>
    <hr class="green-line" />
</section>
