@import "../../../styles.scss";

section {
  padding-top: 130px;
  background-image: url("/../assets/img/third-purpel-shadow.png");
  background-repeat: no-repeat;
  background-position: -110px 400px;
  background-size: contain;
  // @include contentmax();
}

h2 {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 20px;
}
span {
  margin-top: -23px;
  color: red;
  font-size: 12px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  font-family: "Poppins";
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    border-color: #70e61c;
  }

  &:focus {
    border-color: #70e61c;
    outline: none;
  }
}

.contact-text {
  max-width: 480px;
  > p {
    padding-top: 15px;
  }
}
.my-contact {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 150px;
}
.contact-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 55%;
}
.styled-input::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.styled-line {
  flex-grow: 1;
  height: 5px;
  border: none;
  background-color: #9747ff;
}
.styled-input {
  width: 100%;
  padding: 15px 25px;
  border: 2px solid #9747ff;
  border-radius: 10px;
  background-color: #141d2f;
  &.ng-touched.ng-invalid {
    border-color: red;
  }
}
// .input-wrapper {
//   position: relative;
//   width: 100%;
// }
.input-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.pd-bot {
  padding-bottom: 150px;
}

.privacy-policy {
  display: flex;
  //   align-items: center;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  > a {
    color: #9747ff;
  }
}
.privacy-line {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
  padding-bottom: 40px;
}
.privacy-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  > img:hover {
    cursor: pointer;
  }
}
.highlight {
  color: #9747ff !important;
}
.arrow-up {
  display: flex;
  justify-content: end;
  padding-bottom: 100px;
  > a {
    &:hover {
      cursor: pointer;
    }
  }
}
.green-line {
  background-color: #70e61c;
  width: 100%;
  height: 4px;
  border: none;
}
span {
  color: red;
  font-weight: bold;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
  // pointer-events: none;
  transition: none;
  transform: none;
}

.input-wrapper {
  position: relative;
}
b {
  background-color: red;
}
.error-icon {
  position: absolute;
  right: 25px;
  top: 35%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}

.success-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}
.error-icon-message {
  position: absolute;
  right: 25px;
  top: 13%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}
.success-icon-message {
  position: absolute;
  right: 25px;
  top: 13%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}
.ge-text {
  width: 550px;
}
.message-send {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  padding: 24px;
  border-radius: 10px;
  background-color: #9747ff;
  color: white;

  animation: popIn 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1250px) {
  .my-contact {
    gap: 0;
  }
}

@media (max-width: 1100px) {
  h2 {
    padding-bottom: 0;
  }
  .my-contact {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 0;
  }
  .contact-text {
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 60px;
  }
  .contact-line {
    width: 400px;
  }
}

@media (max-width: 650px) {
  form {
    padding-left: 20px;
    padding-right: 20px;
  }
  section {
    background-position: -100px 650px;
  }
  .ge-text {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 630px) {
  .contact-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .arrow-up {
    padding-bottom: 0;
  }
}

@media (max-width: 560px) {
  section {
    background-position: -100px 450px;
  }
  .arrow-up {
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  section {
    background-position: -100px 870px;
  }
  .contact-line {
    gap: 0;
    width: 270px;
  }
}

@media (max-width: 350px) {
  section {
    background-position: -100px 1010px;
  }
}
