<section>
  <div class="portfilio-main">
    <div class="line-heigth">
      <hr class="styled-line" />
    </div>
    <div class="center">
      <h1>Portfilio</h1>
      <p>
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </p>
    </div>
    <div class="line-heigth">
      <hr class="styled-line" />
    </div>
  </div>

  <div class="normal-portfolio">
    <div class="portfolio-image">
      <img src="/assets/img/pokedex.png" alt="Pokedex-Mockup" />
    </div>
    <div class="portfolio-description">
      <h2>Pokédex</h2>
      <div class="mg-bt">
        <span class="span-gap">JavaScript | HTML | CSS | Api</span>
      </div>
      <p>
        Based on the PokéAPI a simple library that provides and catalogues
        pokemon information.
      </p>
      <div class="buttons">
        <button class="livetest-button ">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>

  <div class="reverse-portfolio">
    <div class="portfolio-image">
      <img src="/assets/img/polloloco.png" alt="ElPolloLoco-Mockup" />
    </div>
    <div class="portfolio-description-reverse">
      <h2>El Pollo Loco</h2>
      <div class="mg-bt">
        <span class="span-gap">JavaScript | HTML | CSS | Api</span>
      </div>
      <p>
        A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale.
      </p>
      <div class="buttons-reverse">
        <button class="livetest-button ">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>

  <div class="normal-portfolio">
    <div class="portfolio-image">
      <img src="/assets/img/join.png" alt="Join-Mockup" />
    </div>
    <div class="portfolio-description">
      <h2>Join</h2>
      <div class="mg-bt">
        <span class="span-gap">Angular | TypeScript | HTML | CSS | Firebase </span>
      </div>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
      </p>
      <div class="buttons">
        <button class="livetest-button ">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>

  <div class="reverse-portfolio">
    <div class="portfolio-image">
      <img src="/assets/img/dabubble.png" alt="DaBubble-Mockup" />
    </div>
    <div class="portfolio-description-reverse">
      <h2>Da Bubble</h2>
      <div class="mg-bt">
        <span class="span-gap">Angular | TypeScript | Firebase</span>
      </div>
      <p>
        This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization.
      </p>
      <div class="buttons-reverse">
        <button class="livetest-button">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>
</section>
