<section class="contentmax">
  <div class="portfilio-main">
    <div class="line-heigth">
      <hr class="styled-line" />
    </div>
    <div class="center">
      <h1>Portfilio</h1>
      <p>
        {{ 'my-portfolio.first-text' | translate }}
      </p>
    </div>
    <div class="line-heigth">
      <hr class="styled-line" />
    </div>
  </div>

  <div class="normal-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/pokedex.png" alt="Pokedex-Mockup" />
    </div>
    <div class="portfolio-description">
      <h2>Pokédex</h2>
      <div class="mg-bt">
        <span class="span-gap">JavaScript | HTML | CSS | Api</span>
      </div>
      <p>
        {{ 'my-portfolio.pokedex-text' | translate }}
      </p>
      <div class="buttons">
        <button class="livetest-button ">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>

  <div class="reverse-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/polloloco.png" alt="ElPolloLoco-Mockup" />
    </div>
    <div class="portfolio-description-reverse">
      <h2>El Pollo Loco</h2>
      <div class="mg-bt">
        <span class="span-gap">JavaScript | HTML | CSS | Api</span>
      </div>
      <p>
        {{ 'my-portfolio.elp-text' | translate }}
      </p>
      <div class="buttons-reverse">
        <button class="livetest-button ">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>

  <div class="normal-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/join.png" alt="Join-Mockup" />
    </div>
    <div class="portfolio-description">
      <h2>Join</h2>
      <div class="mg-bt">
        <span class="span-gap">Angular | TypeScript | HTML | CSS | Firebase </span>
      </div>
      <p>
        {{ 'my-portfolio.join-text' | translate }}
      </p>
      <div class="buttons">
        <button class="livetest-button ">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>

  <div class="reverse-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/dabubble.png" alt="DaBubble-Mockup" />
    </div>
    <div class="portfolio-description-reverse">
      <h2>Da Bubble</h2>
      <div class="mg-bt">
        <span class="span-gap">Angular | TypeScript | Firebase</span>
      </div>
      <p>
        {{ 'my-portfolio.dabubble-text' | translate }}
      </p>
      <div class="buttons-reverse">
        <button class="livetest-button">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>
</section>
