@import "../../../styles.scss";
h1 {
  display: flex;
  justify-content: center;
}
section {
  position: relative;
  margin-top: -700px;
  background-image: url("/../assets/img/second-purpel-shadow.png");
  background-repeat: no-repeat;
  background-position: -200px 880px;
  @include contentmax();
}
h2 {
  color: #9747ff;
  font-weight: 700;
  font-size: 32px;
}
button {
  transform: none;
}
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 90px;
}
.buttons-reverse {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  gap: 90px;
}
.span-gap {
  padding-bottom: 20px;
  color: #70e61c;
  font-size: 23px;
  font-weight: 400;
}

.livetest-button {
  background-color: #9747ff;
  &:hover {
    background-color: #70e61c;
  }
}
.github-button {
  background-color: transparent;
  border: 2px solid #70e61c;
  &:hover {
    background-color: #70e61c;
  }
}
.reverse-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 1;
  flex-direction: row-reverse;
}

.normal-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 1;
}
.mg-bt {
  margin-top: 35px;
  margin-bottom: 10px;
}
.portfolio-description {
  max-width: 450px;
  margin-top: -30px;
}
.portfolio-description-reverse {
  max-width: 450px;
  margin-top: -30px;
  text-align: end;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  > p {
    text-align: center;
  }
}

.styled-line {
  @include styled-line(100px);
}

.line-heigth {
  padding-top: 10px; 
}

.portfilio-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 2;
  position: relative;
}

@media (max-width: 1200px) {
  .normal-portfolio {
    flex-direction: column;
    gap: 0;
  }
  .reverse-portfolio {
    flex-direction: column;
    gap: 0;
  }
  .portfolio-description {
    text-align: center;
  }
  .portfolio-description-reverse {
    text-align: center;
  }
  .mg-bt {
    margin-top: 8px;
    margin-bottom: 10px;
  }
  .buttons {
    justify-content: center;
  }
  .buttons-reverse {
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .line-heigth {
    padding-bottom: 50px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 60px;
  }
  .mockup-image {
    width: 400px;
  }
  .portfilio-main {
    gap: 0;
  }
}

@media (max-width: 550px) {
  .line-heigth {
    padding-bottom: 65px;
  }

}
@media (max-width: 450px) {
  .styled-line {
    width: 50px;
  }
  .line-heigth {
    padding-bottom: 75px;
  }
  .portfolio-description {
    >p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .portfolio-description-reverse {
    >p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}
@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  .mockup-image {
    width: 300px;
  }
  .buttons {
    gap: 30px;
  }
  .buttons-reverse {
    gap: 30px;
  }
  .styled-line {
    width: 30px;
  }
}

@media (max-width: 360px) {
  .span-gap {
    font-size: 18px;
  }
  .buttons {
    gap: 15px;
  }
  .buttons-reverse {
    gap: 15px;
  }
  
}