<section id="my-portfolio" class="contentmax">
  <div class="portfolio-main">
    <div class="line-heigth left-line">
      <hr class="styled-line " />
    </div>
    <div class="center">
      <h1>{{ 'my-portfolio.title' | translate }}</h1>
    </div>
    <div class="line-heigth right-line">
      <hr class="styled-line"/>
    </div>
  </div>
  <div class="p-center">
    <p>{{ 'my-portfolio.first-text' | translate }}</p>
  </div>
  
  <div class="normal-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/pokedex.png" alt="Pokedex-Mockup" />
    </div>
    <div class="portfolio-description">
      <h2>Pokédex</h2>
      <div class="mg-bt">
        <span class="span-gap">JavaScript | HTML | CSS | Api</span>
      </div>
      <p>
        {{ 'my-portfolio.pokedex-text' | translate }}
      </p>
      <div class="buttons">
        <a href="https://osahon-schmolze.developerakademie.net/Pokedex/index.html" target="_blank" rel="noopener noreferrer">
        <button class="livetest-button ">Live Test</button>
      </a>
        <a href="https://github.com/Theokleses/Pokemon-API" target="_blank" rel="noopener noreferrer">
          <button class="github-button">GitHub</button>
        </a>        
      </div>
    </div>
  </div>

  <div class="reverse-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/polloloco.png" alt="ElPolloLoco-Mockup" />
    </div>
    <div class="portfolio-description-reverse">
      <h2>El Pollo Loco</h2>
      <div class="mg-bt">
        <span class="span-gap">JavaScript | HTML | CSS | Api</span>
      </div>
      <p>
        {{ 'my-portfolio.elp-text' | translate }}
      </p>
      <div class="buttons-reverse">
        <a href="https://osahon-schmolze.developerakademie.net/ELP/index.html" target="_blank" rel="noopener noreferrer">
        <button class="livetest-button ">Live Test</button>
      </a>
        <a href="https://github.com/Theokleses/El-Pollo-Loco" target="_blank" rel="noopener noreferrer">
        <button class="github-button">GitHub</button>
        </a>
      </div>
    </div>
  </div>

  <div class="normal-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/join.png" alt="Join-Mockup" />
    </div>
    <div class="portfolio-description">
      <h2>Join</h2>
      <div class="mg-bt">
        <span class="span-gap">Angular | TypeScript | HTML | CSS | Firebase </span>
      </div>
      <p>
        {{ 'my-portfolio.join-text' | translate }}
      </p>
      <div class="buttons">
        <a href="http://join-1-bd-0924-1131.developerakademie.net/angular-projects/join/" target="_blank" rel="noopener noreferrer">
        <button class="livetest-button ">Live Test</button>
      </a> 
      <a href="https://github.com/SinanDmrr/Join"target="_blank" rel="noopener noreferrer">
        <button class="github-button">GitHub</button>
      </a>
      </div>
    </div>
  </div>

  <div class="reverse-portfolio">
    <div class="portfolio-image">
      <img class="mockup-image" src="/assets/img/dabubble.png" alt="DaBubble-Mockup" />
    </div>
    <div class="portfolio-description-reverse">
      <h2>Da Bubble</h2>
      <div class="mg-bt">
        <span class="span-gap">Angular | TypeScript | Firebase</span>
      </div>
      <p>
        {{ 'my-portfolio.dabubble-text' | translate }}
      </p>
      <div class="buttons-reverse">
        <button class="livetest-button">Live Test</button>
        <button class="github-button">GitHub</button>
      </div>
    </div>
  </div>
</section>
