@import "../../../styles.scss";
section {
  background-color: #1a2743;
  background-color: #27334b;
  background-color: #141d2f;
  padding-top: 100px;
  padding-bottom: 200px;
}

p {
  font-weight: bold;
}
.mySkills-text {
  width: 500px;
  > p {
    text-align: end;
  }
}
.dp-flex{
    display: flex;
    justify-content: space-around;
    z-index: 2;
    position: relative;
}
.main-name {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.normal-text {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
  min-width: 500px;
}
.styled-text {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 20px;
}
.right {
  display: flex;
  gap: 30px;
}
.highlight {
  color: #9747ff; 
  font-weight: bold;
}
.rightb {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.firstIcon-line {
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  max-width: 50%;
  flex-flow: row wrap;
  width: 550px;
}
.line-heigth {
    padding-top: 70px
}

.styled-line {
  @include styled-line(150px);
}

// .mySkills-text{
//     display: flex;
// }

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  > p {
    padding-top: 5px ;
  }
}
.icon-container img {
  transition: transform 0.3s ease;
}

.icon-container:hover img {
  transform: translateY(-10px);
}
.icon-containerNohover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  > p {
    padding-top: 5px ;
  }

}

.icon-containerNohover:hover {
//  z-index: 1;
//  position: relative;
 height: 100px;
}


.shadow-image {
    display: flex;
    justify-content: start;
    margin-top: -300px;
    z-index: 1;
    position: relative;
  }
  