<section>
  <div>
    <div class="dp-flex contentmax">
      <div class="firstIcon-line">
        <div class="icon-container">
          <img src="./assets/img/html.png" alt="HTML-Logo" />
          <p>HTML</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/css.png" alt="CSS-Logo" />
          <p>CSS</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/js.png" alt="JavaScript-Logo" />
          <p>JavaScript</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/ts.png" alt="TypeScript-Logo" />
          <p>TypeScript</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/angular.png" alt="Angular-Logo" />
          <p>Angular</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/firebase.png" alt="Firebase-Logo" />
          <p>Firebase</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/git.png" alt="Git-Logo" />
          <p>Git</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/api.png" alt="Rest API-Logo" />
          <p>Rest API</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/scrum.png" alt="Scrum-Logo" />
          <p style="padding-top: 10px">Scrum</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/md.png" alt="Material Design-Logo" />
          <p>Material Design</p>
        </div>
        <div class="icon-container">
          <img src="./assets/img/cl.png" alt="Continually learning-Logo" />
          <p class="highlight-p">Continually learning</p>
          <div class="toolbar">
            <img src="assets/img/hover.toolbar.png" alt="Toolbar-Icon" />
          </div>
        </div>
      </div>

      <div class="right">
        @if(this.switchlanguage.german){
        <p class="main-name-ge">Meine Fähigkeiten</p>
        }@else {
        <p class="main-name">My skills</p>
        }
        <p class="normal-text">{{ "my-skills.first-text" | translate }}</p>
        @if(this.switchlanguage.german){
        <p class="styled-text-ge">
          Suchst du nach einer
          <span class="highlight">weiteren Fähigkeit</span>?
        </p>
        }@else {
        <p class="styled-text">
          Looking for <span class="highlight">another skill</span>?
        </p>
        }
        <p class="normal-text">{{ "my-skills.second-text" | translate }}</p>
        <div class="rightb">
          <a href="#my-contact">
            <button>{{ "my-skills.myskills-button" | translate }}</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="shadow-image">
    <img src="/../assets/img/greenshadow.png" alt="Green-Shadow" />
  </div>
</section>
