@import "../../../../styles.scss";
nav {
  @include contentmax();
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 37px;
  padding-bottom: 37px;
  > p {
    > a {
      font-size: 35px;
    }
  }
  > div {
    display: flex;
    gap: 29px;
    align-items: center;

    > a {
      &:hover {
        color: #70e61c;
      }
      font-size: 23px;
    }
  }
}
.fontNunito-Sans {
  font-size: 35px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.hamburger-only {
  display: none;
}

.menu.show .hamburger-only {
  display: inline-block;
}

.lang-toggle {
  display: flex;
  gap: 10px; 
}

.lang-option {
  width: 40px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
  background-color: #1a1a1a; 
  color: #70e61c; 
  border: 2px solid #70e61c; 
  font-family: 'Poppins', sans-serif; 
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.lang-option.active {
  background-color: #70e61c;
  color: white;
  border: 2px solid #70e61c;
  pointer-events: none; 
  cursor: default; 
}
.lang-option:hover {
  background-color: #9747ff; 
  border-color: #9747ff;
}
@media (max-width: 850px) {
  nav {
    padding-left: 30px;
    padding-right: 40px;
  }
}

@media (max-width: 750px) {
  .menu {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
  }
  .menu.show {
    visibility: visible;
    opacity: 1;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    padding-bottom: 200px;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 400px) {
  nav {
    padding-left: 25px;
    padding-right: 5px;
    > .left-sektion {
      gap: 10px;
    }
  }
  .fontNunito-Sans {
    font-size: 26px;
  }

  .hamburger {
    > img {
      width: 20px;
    }
  }
}
