nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 37px;
  padding-bottom: 37px;
  > p {
    > a {
      font-size: 35px;
    }
  }
  > div {
    display: flex;
    gap: 29px;
    align-items: center;

    > a {
      &:hover {
        color: #70e61c;
      }
      //    height: 23px;
      font-size: 23px;
    }
  }
}
a {
  text-decoration: none;
  color: white;
}

.split-n {
  background: linear-gradient(to right, white 50%, #70e61c 50%);
  background-clip: text;
  color: transparent;
}

.split-o {
  background: linear-gradient(to right, #7c28bd 60%, white 40%);
  background-clip: text;
  color: transparent;
}
