<nav class="contentmax" data-aos="fade-down" data-aos-delay="100">
  <div class="nav-container">
  <div class="left-sektion">
    <p class="fontNunito-Sans">
      <a (click)="navigateTo('#navbar')">
        <span>Os</span>
        <span class="split split-o">a</span>
        <span>ho</span>
        <span class="split split-n">n</span>
      </a>
    </p>
    
  <div class="lang-toggle">
    <div class="lang-option" 
         [class.active]="selectedLanguage === 'en'"
         (click)="selectedLanguage === 'en' ? null : setLanguage('en')">
      EN
    </div>
    <div class="lang-option" 
         [class.active]="selectedLanguage === 'de'"
         (click)="selectedLanguage === 'de' ? null : setLanguage('de')">
      DE
    </div>
  </div>
</div>

  <div class="menu fontPoppins" [ngClass]="{ show: menuOpen }">
    <a (click)="navigateTo('#about-me')">{{ "my-navbar.first" | translate }}</a>
    <a (click)="navigateTo('#my-skills')">{{ "my-navbar.second" | translate }}</a>
    <a (click)="navigateTo('#my-portfolio')">{{ "my-navbar.third" | translate }}</a>
    <a class="hamburger-only" (click)="navigateTo('#my-reference')">{{ "my-navbar.fourth" | translate }}</a>
    <a class="hamburger-only" (click)="navigateTo('#my-contact')">{{ "my-navbar.fifth" | translate }}</a>
  </div>
  <button class="hamburger" aria-label="Menu" (click)="toggleMenu()">
    <div class="icon-container" [class.rotate]="menuOpen">
    <img *ngIf="!menuOpen" src="./assets/img/hamburger-icon.png" alt="Hamburger-Icon" />
    <img *ngIf="menuOpen" src="./assets/img/close.png" alt="Close-icon" />
    </div>
  </button>
  </div>
</nav>
