<nav class="contentmax">
  <div class="left-sektion">
    <p class="fontNunito-Sans">
      <a href="#navbar">
        <span>Os</span>
        <span class="split split-o">a</span>
        <span>ho</span>
        <span class="split split-n">n</span>
      </a>
    </p>
    
  <div class="lang-toggle">
    <div class="lang-option" 
         [class.active]="selectedLanguage === 'en'"
         (click)="selectedLanguage === 'en' ? null : setLanguage('en')">
      EN
    </div>
    <div class="lang-option" 
         [class.active]="selectedLanguage === 'de'"
         (click)="selectedLanguage === 'de' ? null : setLanguage('de')">
      DE
    </div>
  </div>
</div>

    <div class="menu fontPoppins" [ngClass]="{ show: menuOpen }">
      <a href="#about-me" (click)="closeMenu()">{{ "my-navbar.first" | translate }}</a>
      <a href="#my-skills" (click)="closeMenu()">{{ "my-navbar.second" | translate }}</a>
      <a href="#my-portfolio" (click)="closeMenu()">{{ "my-navbar.third" | translate }}</a>
      <a href="#my-contact" class="hamburger-only" (click)="closeMenu()">{{
        "my-navbar.fourth" | translate
      }}</a>
  </div>
  <button class="hamburger" aria-label="Menu" (click)="toggleMenu()">
    <img src="./assets/img/hamburger-icon.png" alt="Hamburger-Icon" />
  </button>
</nav>
