nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 37px;
    padding-bottom: 37px;
    >p{
        >a{
            height: 35px;
          font-size: x-large;
        }
    }
    >div{
        display: flex;
        gap: 29px;
        align-items: center;
     

        >a{
            &:hover{
                color: #70E61C;
            }
        //    height: 23px;
        // font-size: 23px;
        font-size: small;
        }
    }


}
a{
    text-decoration: none;
    color: white;
   
}

.split-n {
    background: linear-gradient(to right, white 50%, #70E61C 50%);
    background-clip: text;
    color: transparent;
}

.split-o {
    background: linear-gradient(to right, #7C28BD 60%, white 40%);
    background-clip: text;
    color: transparent;
}

