<section class="contentmax">
  <div class="styled-name">
    <a href="">
      <span>Os</span>
      <span class="split split-o">a</span>
      <span>ho</span>
      <span class="split split-n">n</span>
    </a>
    <div class="legal-section">
      <a (click)="scrollToTop()" routerLink="/legal-notice"><p>Legal Notice</p></a>
      <a (click)="scrollToTop()" routerLink="/imprint">Imprint</a>
    </div>
  </div>
  <div class="styled-fullname">
    <p>&copy; Osahon Schmolze 2025</p>
  </div>
  <div class="social-icons">
    <a class="icons" href="">
      <img src="./assets/img/github-icon-footer.png" alt="Github-Icon"
    /></a>
    <a class="icons" href="">
      <img src="./assets/img/mail-icon-footer.png" alt="Mail-Icon"
    /></a>
    <a class="icons" href="">
      <img src="./assets/img/linkedin-icon-footer.png" alt="Linkedin-Icon"
    /></a>
  </div>
</section>
