@import "../../../styles.scss";
section {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // @include contentmax();
}
span {
  font-size: 35px;
}

.styled-name {
  font-weight: bold;
  line-height: 1.2;
  margin-top: 15px;
 
}
.legal-section{
  display: flex;
  gap: 10px;
  > a {
    font-weight: normal;
    font-size: 13px;
    &:hover {
      text-decoration: underline; 
      text-decoration-color: #70e61c; 
      text-decoration-thickness: 3px;
      text-underline-offset: 5px
      // color: #70e61c;
    }
  }
}
.social-icons {
  display: flex;
  gap: 30px;
}


@media (max-width:850px ) {
  section {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }
  .styled-name {
    margin-top: 0;
    line-height: 1.8;
  }
}